<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;600;700&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;600;700&family=Roboto+Mono:wght@100;400;600&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #767676;
      }
      .container-fluid {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }  
      .wrapper {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #1c2538;
      }
      .wrapper .card {
        position: relative;
        width: 300px;
        height: 418px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        transform-style: preserve-3d;
        transform: perspective(400px);
        background-color: #f5f6f7;
      }
      .card.hackbox {
        background-color: #141d2b;
      }
      .hb-heading {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .hackbox-heading {
        color: #9fef00;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
      }
      .hackbox-span {
        font-family: "Raleway", sans-serif;
        font-family: 100;
        color: #9fef00;
        font-size: 2.5em;
      }
      .hackbox-heading:hover {
        color: #ffe700;
      }
      .hackbox p {
        color: #a4b1cd;
      }
      .hb {
        color: #9fef00;
      }
      .hb:hover {
        color: #fff;
      }

      .card.tryhackme {
        background-color: #161e2d;
      }
      .tryhackme-heading {
        color: #a6170e;
        font-family: "Ubuntu Mono", monospace;
      }

      .tryhackme-heading:hover {
        color: #fff;
      }

      .tryhackme p {
        color: #8e929c;
        font-family: "Ubuntu", sans-serif;
      }
      .tryhackme p:hover {
        color: #fff;
      }
      .tr:hover {
        color: #88cc14;
      }
      .tr {
        color: #a6170e;
      }

      h2 {
        color: #0a0a23;
        font-size: 2.5rem;
        text-align: center;
        font-family: "Roboto-mono", sans-serif;
      }
      p {
        color: #0a0a23;
        margin: 20px 20px;
        font-family: "Roboto-mono", sans-serif;
        padding: 10px 20px;
      }

      .material-icons-outlined {
        color: #767676;
      }

      h2 {
        transition: all 0.4s ease;
      }
      h2:hover {
        transform: translate3d(0, -10px, 20px);
        color: #616171;
      }
      h5 {
        font-family: "Jost", sans-serif;
      }
      footer {
        flex-wrap: wrap;
      }
      a {
        text-decoration: none;
      }
      i {
        margin-right: 10px;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="wrapper">
        <div class="card tryhackme">
          <div class="content"><a href="/ProcessMonitor">
              <h2 class="tryhackme-heading">Process監控</h2></a>
            <p>
              實時監控系統進程的啟動和停止，記錄進程名稱、ID 和命令行參數，幫助分析系統活動。
            </p>
          </div>
        </div>
        <div class="card hackbox">
          <div class="content"><a href="/tcpip">
              <div class="hb-heading">
                <h2 class="hackbox-heading">TCPIP監控</h2>
              </div></a>
            <p>監控網絡流量，檢測和阻止黑名單 IP 地址的連接，保護系統安全。</p>
          </div>
        </div>
        <div class="card">
          <div class="content"><a href="/filesystemwatcher">
              <h2>文件監控</h2></a>
            <p>
              監控文件系統變化，包括文件創建、修改、刪除和重命名事件，便於文件變動追蹤。
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        easing: "cubic-bezier(.02,.77,.43,.87)",
        perspective: 730,
        transition: true,
        gyroscope: true
      });    
    </script>
  </body>
</html>